*.pyc
customer/__pycache__/*.pyc
# customer/migrations/*.py
job/__pycache__/*.pyc
# job/migrations/*.py
machine/__pycache__/*.pyc
# machine/migrations/*.py
order/__pycache__/*.pyc
# order/migrations/*.py
product/__pycache__/*.pyc
# product/migrations/*.py
po/__pycache__/*.pyc
# po/migrations/*.py
quality/__pycache__/*.pyc
# quality/migrations/*.py
recipe/__pycache__/*.pyc
# recipe/migrations/*.py
db.sqlite3