{% extends '../base.html' %}

{% block content %}
    
    <div class="wrapper">
    	<h2>Delivery : {{ object}} <a href="{% url 'delivery:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h2> 
            
	    <section class="purchase">
	    	<div class="general_info">
		    	{{object.description}}<br>
	    		PO : <a href="{{object.po.get_absolute_url}}">{{object.po}}</a><br> 
	    		Issued on :{{object.created_date}}<br>
	    		Status : {{object.completed}}
	    	</div>
	    	<div class="product">
	    		
		    	QTY :<span class="qty">{{object.qty}}</span><br>

	    	</div>
	    	<div class="customer">
		    	{{object.delivery_date}}<br>
		    	{{object.delivery_address}}
	    	</div>
	    	
	    </section>


	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
	 <style type="text/css">

	 	.wrapper{
		    display:grid;
		    grid-gap:20px;
		}

		.purchase{
		    margin-top: 2rem;
		    display: grid;
		    grid-gap: 20px;
		    grid-template-areas:
		    'general_info product'
		    'customer order';
		}


		h2 {
		    color: #C25100;
		}



		.qty {
			color: #FF0000;
		}


	</style>

{% endblock stylesheet %}