{% extends '../base.html' %}

{% block title %}Delivery - {{ object}}{% endblock title %}

{% block content %}
    
    <div class="wrapper">
    	<h1>Delivery : {{ object}} <a href="{% url 'delivery:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h1> 
            
	    <section class="purchase">
	    	<div class="general_info">
		    	{{object.description}}<br>
	    		PO : <a href="{{object.po.get_absolute_url}}">{{object.po}}</a><br> 
	    		Issued on :{{object.created_date}}<br>
	    		Status : {{object.completed}}
	    	</div>
	    	<div class="product">
	    		
		    	QTY :<span class="qty">{{object.qty}}</span><br>

	    	</div>
	    	<div class="customer">
		    	{{object.delivery_date}}<br>
		    	{{object.delivery_address}}
	    	</div>
	    	
	    </section>


	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
	

{% endblock stylesheet %}