{% extends '../base.html' %}

{% block content %}
    <h1>Delivery Information <a href="{% url 'delivery:list' %}"></h1><i class="fa fa-list" aria-hidden="true"></i></a>

    <div>
        <h3>Pending or On Progress</h3>

        {% for object in object_list %}
            {% ifchanged object.po.product.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.po.product.group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>({{object.created_date}})</i>  
            </li>
        {% endfor %}

    </div>
   

     
{% endblock %}


{% block stylesheet %}
	

{% endblock stylesheet %}