{% extends '../base.html' %}

{% block content %}
    
    <div class="wrapper">
    	<h2>Customer : {{ object}} <a href="{% url 'customer:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h2> 
	    <section class="customer">
	    	<div class="general_info">
		    	Description :{{object.description}}<br>
		    	Address : {{object.address}}<br>
		    	Delivery Address : {{object.delivery_address}}<br>
		    	Tax : {{object.tax}}<br>
	    		Issued on :{{object.created_date}}<br>
	    	</div>

	    	<div class="">
	    		<h3>Contact list</h3>
	    		<table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Name</th>
			          <th scope="col">Position</th>
			          <th scope="col">Mobile</th>
			          <th scope="col">Telephone</th>
			          <th scope="col">Email</th>
			        </tr>
			      </thead>
			      <tbody>
	    		 {% for contact in object.contacts.all %}
    					<tr>
				          <th scope="row">{{contact.name}}</th>
				          <td>{{contact.position}}</td>
				          <td>{{contact.mobile}}</td>
				          <td>{{contact.telephone}}</td>
				          <td>{{contact.email}}</td>
				        </tr>
			    {% endfor %}
			    </tbody>
  				</table>
	    	</div>

	    	<div class="">
	    		<h3>Purchase Order list</h3>
	    		<table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Name</th>
			          <th scope="col">Order</th>
			          <th scope="col">Product</th>
			          <th scope="col">Qty</th>
			          <th scope="col">Issue Date</th>
			          <th scope="col">Delivery Date</th>
			          <th scope="col">Completed</th>
			        </tr>
			      </thead>
			      <tbody>
	    		 {% for po in object.pos.all|dictsortreversed:"created_date" %}
    					<tr>
				          <th scope="row"><a href="{{po.get_absolute_url}}">{{po}}</a></th>
				          <td>{{po.order}}</td>
				          <td><a href="{{po.product.get_absolute_url}}">{{po.product}}</a></td>
				          <td>{{po.qty}}</td>
				          <td>{{po.created_date}}</td>
				          <td>{{po.delivery_date}}</td>
				          <td><i class="fa fa-circle {{po.completed}}" aria-hidden="true"></i></td>
				        </tr>
			    {% endfor %}
			    </tbody>
  				</table>
	    	</div>

	    </section>




	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
	 <style type="text/css">

	 	.wrapper{
		    display:grid;
		    grid-gap:20px;
		}

		.purchase{
		    margin-top: 2rem;
		    display: grid;
		    grid-gap: 20px;
		    grid-template-areas:
		    'general_info product'
		    'customer order';
		}


		h2 {
		    color: #C25100;
		}

		h3 {
		    color: #C25100;
		}

		 .true{
		      color: #00FF00;
		    }

		    .false{
		      color: #FF0000;
		    }



		.qty {
			color: #FF0000;
		}


	</style>

{% endblock stylesheet %}