{% extends '../base.html' %}

{% block content %}
    <h1>Job Information <a href="{% url 'job:list' %}"></h1>
    	<i class="fa fa-list" aria-hidden="true"></i></a>

    <div>
        <h3>Pending or On Progress</h3>

        {% for object in object_list %}
            {% ifchanged object.product.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.product.group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>({{object.created_date}})</i>  -- Start on :{{object.start_date}} , Target on : {{object.stop_date}}
            </li>
        {% endfor %}

    </div>


     
{% endblock %}


{% block stylesheet %}
	
{% endblock stylesheet %}