{% extends '../base.html' %}
{% load recipe_tag %}

{% block title %}Job - {{ object.name}}{% endblock title %}

{% block content %}
    
    <div class="wrapper">
    	<h1>Job Order : {{ object}} <a href="{% url 'job:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h1> 
            
	    <section class="job">
	    	<div class="general_info">
		    	{{object.description}}<br>
		    	Product : <a href="{{object.product.get_absolute_url}}">{{object.product}} </a>  Group:{{object.product.group}}<br>
		    	Order : <a href="{{object.order.get_absolute_url}}">{{object.order|default:"Not Defined"}}</a><br>
		    	
		    	Qty : <span class="qty">{{object.qty}}</span><br>
		    	Weight : {{object.weight}}  {{object.product.weight_unit}}<br>
	    		Issued on :{{object.created_date}}<br>
	    		Completed : {{object.completed}}<br>
	    		Balance : {{object.balance}}
	    	</div>

	    	<div>
	    		<h3>Building Plan</h3>
	    		Start date : {{object.start_date}}<br>
	    		Target date : {{object.stop_date}}<br>
	    	</div>

	    	<!-- <div>
	    		<h3>Machine</h3>
	    		Machine : {{object.machine}}<br>
	    	</div> -->

	    	

	    	<div class="recipe">
	    		<h3>Recipe Information</h3>

	    		Recipe : <span><a href="{{object.recipe.get_absolute_url}}">{{object.recipe}}</a></span>
		    	{% if object.recipe == None %}
		    	<form method="POST" action="{% url 'job:recipe-update' object.slug %}?next={% url 'job:detail' object.slug %}">
				      {% csrf_token %}
	    			<select name="recipe">
	    				{% for recipe in recipe_list %}
					   <option value="{{recipe.slug}}">{{recipe}} -- {{recipe.description}}  </option>
					  {% endfor %}
					</select>
					{% if perms.job.can_change_recipe %}
						<input type="submit" value="Update Recipe">
					{% else %}
						<input type="submit" value="Update Recipe" disabled>
						<span class="notice">* To Change recipe , you must have authorize</span>
					{% endif %}
					</form>
				{% else %}
					
					{% if perms.job.can_change_recipe %}
						<a href="{% url 'job:recipe-reset' object.slug %}?next={% url 'job:detail' object.slug %}">Change</a>
					{% else %}
						Change
						<span class="notice">* To Change recipe , you must have authorize</span>
					{% endif %}
				{% endif %}
				<br>

	    		{% if object.recipe %}
	    			Weight/Mix : {{object.recipe.sum}} <br>
	    			
	    			{% total_mix object.weight object.recipe.sum as total_mix  %}
	    			Total  Mix : {{total_mix}} <br>

	    			<table class="table">
				      <thead class="thead-dark">
				        <tr>
				          <th scope="col">Item</th>
				          <th scope="col">Description</th>
				          <th scope="col">Weight Ratio</th>
				          <th scope="col">Total Weight</th>
				          <th scope="col">In Stock?</th>
				        </tr>
				      </thead>
				      <tbody>

	    			{% for rec in object.recipe.items.all|dictsort:"seq" %}
	    				{% each_weight rec.ratio total_mix as total_each_weight %}
	    				<tr>
				          <td>{{rec}}</td>
				          <td>{{rec.description}}</td>
				          <td>{{rec.ratio}}</td>
				          <td>{{total_each_weight}}</td>
				          <td>{{rec.product.qty}}</td>
				        </tr>
	    			{% endfor %}

		    		</tbody>
		    	</table>

	    		{% endif %}
	    	</div>

	    	<div>
	    		<h3>Build Output Logs</h3>
	    		{% if object.finished == False %}
	    			<form method="POST" action="{% url 'job:complete-add' object.slug %}?next={% url 'job:detail' object.slug %}">
				      {% csrf_token %}
				      	Quantity :
  						<input type="number" name="qty" min="1" max="{{object.qty}}" value="1">(between 1 and {{object.balance}})<br>
	    				<textarea name="description" rows="3" cols="30"></textarea><br>
						
						{% if perms.job.can_add_output %}
							<input type="submit" value="Add Completed">
						{% else %}
							<input type="submit" value="Add Completed" disabled>
							<span class="notice">* To Change recipe , you must have authorize</span>
						{% endif %}
					</form>
	    		{% endif %}
	    		<br>
	    		{% if object.completes.count > 0 %}
	    			Total  Build Completed : {{object.completed}} <br>
	    			<table class="table">
				      <thead class="thead-dark">
				        <tr>
				          <th scope="col">Datetime</th>
				          <th scope="col">Qty</th>
				          <th scope="col">Description</th>
				          <th scope="col">Action</th>
				        </tr>
				      </thead>
				      <tbody>

	    			{% for complete in object.completes.all|dictsort:"stamp_date" %}
	    				
	    				<tr>
				          <td>{{complete.stamp_date}}</td>
				          <td>{{complete.qty}}</td>
				          <td>{{complete.description}}</td>
				          <td>{% if object.finished == False %}
				          	{% if perms.job.can_add_output %}
	    						<a href="{% url 'job:complete-delete' object.slug complete.pk %}?next={% url 'job:detail' object.slug %}">Delete</a>
	    					{% endif %}
	    				{% endif %}</td>
				        </tr>

	    			{% endfor %}
	    			</tbody>
	    			</table>
	    		{% endif %}
	    	</div>

	    	<div>
	    		<h3>Build Completed Update/Send to Quality</h3>
	    		Finished : {{object.finished}}<br>
	    		Finish date : {{object.finished_date}}<br>
	    		{% if object.finished == False %}
	    			Status : Working On Process
	    			<form method="POST" action="{% url 'job:recipe-finish' object.slug %}?status=true&next={% url 'job:detail' object.slug %}">
				      {% csrf_token %}
	    			
					<input type="submit" value="Finish Job/Send to Quality">
					</form>
				{% else %}
					Status : Sent to Quality
					{% if object.inspection.job != object %}
						<form method="POST" action="{% url 'job:recipe-finish' object.slug %}?status=false&next={% url 'job:detail' object.slug %}">
					      {% csrf_token %}
		    			
						<input type="submit" value="Reset finished Job">
						</form>
					{% endif %}
	    		{% endif %}
	    	</div>

	    	<div>
	    		<h3>Inspection by Quality</h3>
	    		
	    		
	    		{% if object.inspection %}
	  				Total Passed : {{object.inspection.passed}} <br>
		    		Note :{{object.inspection.description}} <br>
		    		Date :{{object.inspection.created_date}} <br>
		    		Send to Warehouse :  
		    		<i class="fa {% if object.inspection.to_warehouse %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.inspection.to_warehouse}}" aria-hidden="true"></i>
		    		<br>
		    		Send Date : {{object.inspection.to_date}}  ( {{ object.inspection.to_date|timesince }} )<br>
					
					
					{% is_over24hours object.inspection.to_date as is_over24 %}

					{% if is_over24 %}
						<span class="notice">If send to Warehouse over 24 hours , system will not allow to Cancel Inspection</span>
					{% else %}
					<form method="POST" action="{% url 'job:inspect-delete' object.slug %}?next={% url 'job:detail' object.slug %}">
				      {% csrf_token %}
						<input type="submit" value="Cancel Inspection">
					</form>
					{% endif %}
					

	    		{% else %}
	    			{% if object.finished %}
	    			<form method="POST" action="{% url 'job:inspect-add' object.slug %}?next={% url 'job:detail' object.slug %}">
				      {% csrf_token %}
				      	Quantity :
  						<input type="number" name="qty" min="1" max="{{object.qty}}" value="1">(between 1 and {{object.balance}})<br>
	    				<textarea name="description" rows="3" cols="30"></textarea><br>
						<input type="submit" value="Add to Warehouse">
					</form>
					{% endif %}
	    		{% endif %}
	    	</div>
	    	
	    	
	    </section>


	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
	

{% endblock stylesheet %}