{% extends '../base.html' %}

{% block content %}
    <h1>Product Information</h1>
     <a href="{% url 'product:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a><br>

     List of product on last 30 days<br>
    
     {% for object in object_list %}
            {% ifchanged object.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>{{object.description}}  ({{object.modified_date}})</i>  
            </li>
        {% endfor %}



     
{% endblock %}


{% block stylesheet %}



{% endblock stylesheet %}