{% extends '../base.html' %}

{% block title %}Product - {{ object.name}}{% endblock title %}


{% block content %}
    
    <div class="wrapper">
    	<h1>Product : {{ object}} <a href="{% url 'product:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h1> 
            
	    <section class="product">

	    	<div class="general_info">
		    	Description : {{object.description}}<br>
	    		Issued on :{{object.created_date}}<br>
	    		Status : {{object.active}}<br>

	    		Parent : 
	    			{% if object.parent %}
	    				<a href="{{object.parent.get_absolute_url}} ">{{object.parent}} </a>
	    			{% endif %}
	    			<br>
	    		Group : {{object.group}}<br>
	    		Customer : {{object.customer}}<br>
	    		Type : {{object.crod_type}}<br>
	    		Color : {{object.color}}<br>
	    		Job Prefix : {{object.job_prefix}}<br><br>

	    		<h3>Semi Part </h3>
	    		 <table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Product</th>
			          <th scope="col">Finish Goods</th>
			          <th scope="col">Description</th>
			          <th scope="col">In Stock</th>
			        </tr>
			      </thead>
			      <tbody>
		     	{% for product in object.products.all %}
			        <tr>
			          <th scope="row"><a href="{{product.get_absolute_url}}">{{product}}</a></th>
			          <td>{{product.fg_name}}</td>
			          <td>{{product.description}}</td>
			          <td>{{product.qty}}</td>
        			</tr>
			    {% endfor %}
					</tbody>
				</table>
	    	</div>
	    	
	    </section>




	     <section class="warehouse">
	     	<h3>Stock Information</h3>
	     	Qty : {{object.qty}} <br>
	     	Last in datetime : {{object.last_warehouse_date}}<br>
	     	Minimum Order : {{object.min_order}}
	     </section>

	     <section class="order">
	     	<h3>Product Order History </h3>

	     	<table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Order</th>
			          <th scope="col">Qty</th>
			          <th scope="col">Description</th>
			          <th scope="col">Date</th>
			        </tr>
			      </thead>
			      <tbody>

	     	{% for order in object.orders.all %}
		         <tr>
			          <th scope="row"><a href="{{order.get_absolute_url}}">{{order}}</a></th>
			          <td>{{order.qty}}</td>
			          <td>{{order.description}}</td>
			          <td>{{order.created_date}}</td>
        		</tr>
		    {% endfor %}
	     </section>

	     <section class="store">
	     </section>


	</div> <!-- End Wrapper -->
   
{% endblock %}


{% block stylesheet %}
	
{% endblock stylesheet %}