{% extends '../base.html' %}

{% block title %}Purchase Order - Home{% endblock %}

{% block content %}
    <h1>Purchase Order Information </h1> <a href="{% url 'po:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a>

    <div>
        <h3>Pending or On Progress</h3>

        {% for po in po_list %}
            {% ifchanged po.product.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ po.product.group }}</li>
             {% endifchanged %}
            <li class="list-group-item">
                <a href="{{po.get_absolute_url}}">{{po}}</a> -- {{po.product}}  <i>created on :{{po.created_date}}</i> 
               <button type="button" class="btn btn-secondary">
                Qty <span class="badge badge-light">{{po.qty}}</span>
                <span class="sr-only">unread messages</span>
              </button>

          </li>
        {% endfor %}

    </div>

   

     
{% endblock %}


{% block stylesheet %}

{% endblock stylesheet %}