{% extends '../base.html' %}

{% block content %}
    <h1>Purchase Order List</h1>

    <form class="form-inline" method='GET' action='.'>
        <div class="form-group row">

            <div>
              Search
              <input type="text" id="search"  name="q" value='{{ request.GET.q}}'>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
              <a href="{% url 'po:list'  %}">Clear result</a>
            </div>
        </div>
    </form>
                    
   {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} record(s).

   <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Order</th>
          <th scope="col">Product</th>
          <th scope="col">Qty</th>
          <th scope="col">Total Weight</th>
          <th scope="col">Date</th>
          <th scope="col">Started?</th>
          <th scope="col">Completed?</th>
        </tr>
      </thead>
      <tbody>

    {% for object in object_list %}
      <tr>
          <th scope="row"><a href="{{ object.get_absolute_url }}">
              {{object.name}}
            </a>
          </th>
          <td><a href="{{ object.orderitems.order.get_absolute_url }}">{{object.order}}</a></td>
          <td>{{object.product}}</td>
          <td><span class="qty">{{object.qty}}</span></td>
          <td><span class="qty">{{object.weight}}</span></td>
          <td>{{object.created_date}}</td>
          <td><i class="fa {% if object.started %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.started}}" aria-hidden="true"></i></td>

          <td><i class="fa {% if object.completed %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.completed}}" aria-hidden="true"></i></td>


        </tr>

    {% endfor %}
    <br>

    {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
    
   
{% endblock %}


{% block stylesheet %}

{% endblock stylesheet %}