{% extends '../base.html' %}

{% block title %}Recipe - Home{% endblock title %}


{% block content %}
    <h1>Recipe Information <a href="{% url 'recipe:list' %}"></h1>
    	<i class="fa fa-list" aria-hidden="true"></i></a>

    
    {% for object in object_list %}
            {% ifchanged object.prod_group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.prod_group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>({{object.created_date}})</i>  
            </li>
        {% endfor %}

     
{% endblock %}


{% block stylesheet %}
	
{% endblock stylesheet %}