{% extends '../base.html' %}

{% block content %}
    <h2>Production Information <a href="{% url 'production:list' %}"></h2>
    	<i class="fa fa-list" aria-hidden="true"></i></a>

   <div>
        <h3>Pending or On Progress</h3>

        {% for object in object_list %}
            {% ifchanged object.job.product.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.job.product.group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>({{object.created_date}})</i>  
            </li>
        {% endfor %}

    </div>

     
{% endblock %}


{% block stylesheet %}
	
{% endblock stylesheet %}