{% extends '../base.html' %}

{% block content %}
    <h1>Machine Information</h1> <a href="{% url 'machine:list' %}">
    <i class="fa fa-list" aria-hidden="true"></i></a>    


    {% for object in object_list %}
            {% ifchanged object.productgroup %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.productgroup }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  
            	<i>({{object.created_date}})</i>  
            </li>
        {% endfor %}

{% endblock %}


{% block stylesheet %}
	

{% endblock stylesheet %}