{% extends '../base.html' %}

{% block content %}
    <div class="wrapper">
    	<h1>Machine : {{ object}} <a href="{% url 'machine:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h1> 
            
	    <section class="machine">
	    	<div class="general_info">
		    	{{object.description}}<br>
		    	Product Group : {{object.productgroup}}<br>
	    		Created on :{{object.created_date}}<br>
	    	</div>

	    </section>

	    <section class="job">
	    	<table class="table">
				      <thead class="thead-dark">
				        <tr>
				          <th scope="col">Production</th>
				          <th scope="col">Job</th>
				          <th scope="col">Description</th>
				          <th scope="col">Shift</th>
				          <th scope="col">Machine</th>
				          <th scope="col">production_date</th>
				          <th scope="col">Order?</th>
				          <th scope="col">Stock?</th>
				          <th scope="col">Final?</th>
				        </tr>
				      </thead>
				      <tbody>

	    	{% for production in object.productions.all|dictsort:"created_date" %}
	    				<tr>
				          <td><a href="{{production.get_absolute_url}}">{{production}}</a></td>
				          <td><a href="{{production.job.get_absolute_url}}">{{production.job}}</a></td>
				          <td>{{production.description}}</td>
				          <td>{{production.shifts}}</td>
				          <td>{{production.machine}}</td>
				          <td>{{production.production_date}}</td>
				          <td>{{production.order_qty}}</td>
				          <td>{{production.stock_qty}}</td>
				          <td>{{production.final_qty}}</td>
				        </tr>
	    	{% endfor %}

	    	</tbody>
		    	</table>
	    </section>


	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
	 

{% endblock stylesheet %}