{% extends '../base.html' %}

{% block title %}Order - Home{% endblock title %}

{% block content %}


    <h1>Build Order Information </h1> <a href="{% url 'order:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a>

    <div>
        <h3>Pending or On Progress</h3>

        {% for object in object_list %}
            {% ifchanged object.product.group %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">{{ object.product.group }}</li>
             {% endifchanged %}
            <li class="list-group-item"><a href="{{object.get_absolute_url}}">{{object}}</a>  <i>{{object.description}}({{object.created_date}})</i> 

            <button type="button" class="btn btn-secondary">
              Qty <span class="badge badge-light">{{object.qty}}</span>
              <span class="sr-only">unread messages</span>
            </button>
            <button type="button" class="btn btn-secondary">
              Weight <span class="badge badge-light">{{object.weight}} g</span>
              <span class="sr-only">unread messages</span>
            </button>

            Draft :<i class="fa {% if object.draft %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.draft}}" aria-hidden="true"></i>

            Completed :<i class="fa {% if object.completed %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.completed}}" aria-hidden="true"></i>

            </li>
        {% endfor %}

    </div>


     
{% endblock %}


{% block stylesheet %}

{% endblock stylesheet %}