{% extends '../base.html' %}

{% block title %}Order - {{ object.name}}{% endblock title %}

{% block content %}
    
    <div class="wrapper">
    	<h1>Order : {{ object}} <a href="{% url 'order:list' %}"><i class="fa fa-list" aria-hidden="true"></i></a></h1> 
	    <section class="order">
	    	<div class="general_info">
		    	Description :{{object.description}}<br>
		    	Product :<a href="{{object.product.get_absolute_url}}">{{object.product}} </a><br>
		    	<!-- Show Child Product -->
		    	{% if object.product.products %}
			    	<ul>
			    	{% for product in object.product.products.all %}
			    		<li><a href="{{product.get_absolute_url}}">{{product}}</a></li>
			    	{% endfor %}
			    	</ul>
		    	{% endif %}
		    	<!-- End Child -->
		    	Qty : <span class="qty">{{object.qty}}</span><br>
		    	Weight : {{object.weight}} {{object.product.weight_unit}}<br>
	    		Issued on :{{object.created_date}}<br>
	    		Status : <i class="fa {% if object.completed %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.completed}}" aria-hidden="true"></i><br>
	    		Draft : <i class="fa {% if object.draft %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{object.draft}}" aria-hidden="true"></i>
	    	</div>

	    	<div>
	    		<h3>Purchase Order items</h3>
	    			
	    		{% if po_list.count > 0 %}

	    			
		    			<form method="POST" action="{{object.slug}}/items/add">
					      {% csrf_token %}
					     Select PO :
		    			<select name="po">
		    				{% for po in po_list %}
						   <option value="{{po.slug}}">{{po}}  Qty : {{po.qty}} ({{po.created_date}})</option>
						  {% endfor %}
						</select>
						{% if object.draft and perms.order.can_add_po %}
							<input type="submit" value="Add PO">
						{% else %}
							<input type="submit" value="Add PO" disabled >
							<span class="notice">* To Add Po to order , you must have authorize and Order still be Draft</span>
						{% endif %}

						</form>
					
				{% endif %}
				<table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Seq</th>
			          <th scope="col">Po</th>
			          <th scope="col">Product</th>
			          <th scope="col">Qty</th>
			          <th scope="col">Total Weight</th>
			          <th scope="col">Note</th>
			          <th scope="col">Issue Date</th>
			          <th scope="col">Started</th>
			          <th scope="col">Completed</th>
			          <th scope="col">Action</th>
			        </tr>
			      </thead>
			      <tbody>


	    		 {% for po_object in object.orderitems.all %}
    					<tr>
				          <th scope="row">{{po_object.seq}}</th>
				          <td><a href="{{po_object.po.get_absolute_url}}">{{po_object.po}}</a></td>
				          <td><a href="{{po_object.po.product.get_absolute_url}}">{{po_object.po.product}}</a></td>
				          <td><span class="qty">{{po_object.po.qty}}</td>
				          <td>{{po_object.po.weight}}</td>
				          <td>{{po_object.note}} </td>
				          <td>{{po_object.created_date}}</td>


          				   <td><i class="fa {% if po_object.po.started %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{po_object.po.started}}" aria-hidden="true"></i></td>

         					<td><i class="fa {% if po_object.completed %} ' fa-check-circle '  {% else %} ' fa-times-circle ' {% endif %} {{po_object.completed}}" aria-hidden="true"></i></td>

				          <td>
				          	{% if po_object.po.started == False %}
				          		{% if perms.order.can_remove_po %}
	    							<a href="/order/items/{{po_object.pk}}/delete?next={{object.get_absolute_url}}">Delete</a>
				          		{% else %}
				          			Delete
				          		{% endif %}
	    					{% endif %}</td>
					     </tr>
	    			
	    		
			    {% endfor %}
			    </tbody>
  				</table>
	    	</div>

	    	<div>
	    		<h3>Job Order</h3>

	    		{% if object.orderitems.count > 0 %}
	    		<form method="POST" action="{{object.slug}}/create_job">
			      {% csrf_token %}
			      <input type="hidden" name="order_slug" value="{{ object.slug }}">
			      {% if object.draft and perms.order.can_create_job %}
			      	<input type="submit" value="Create Job">
			      {% else %}
			      	<input type="submit" value="Create Job" disabled>
			      	<span class="notice">* To Create Job , you must have authorize and Order still be Draft.</span>
			      {% endif %}
			    </form>
			    {% endif %}

			    <table class="table">
			      <thead class="thead-dark">
			        <tr>
			          <th scope="col">Name</th>
			          <th scope="col">Product</th>
			          <th scope="col">Note</th>
			          <th scope="col">Qty</th>
			          <th scope="col">Start Date</th>
			          <th scope="col">Recipe</th>
			          <th scope="col">Completed</th>
			          <th scope="col">Balance</th>
			          <!-- <th scope="col">Action</th> -->
			        </tr>
			      </thead>
			      <tbody>
			    
	    		{% for job in object.jobs.all %}

	    			<tr>
				          <th scope="row"><a href="{{job.get_absolute_url}}">{{job.name}}</a></th>
				          <td>{{job.product}}</td>
				          <td>{{job.description}}</td>
				          <td><span class="qty">{{job.qty}} </span></td>
				          <td>{{job.start_date}} </td>
				          <td><span class="{% if job.recipe == none %}nothing{% endif %}"><a href="{{job.recipe.get_absolute_url}}">{{job.recipe|default:"Recipe not defined"}}</a></span></td>
				          <td>{{job.completed}}</td>
				          <td>{{job.balance}}</td>
				          <!-- <td>
				          	{% if perms.order.can_delete_job %}
				          		<a href="/job/{{job.slug}}/delete?next={{object.get_absolute_url}}">Delete</a>
				          	{% endif %}
				          </td> -->
					 </tr>

	    		{% endfor %}

	    		</tbody>
  				</table>

	    		{% if object.jobs.count > 0 %}

	    		<form method="POST" action="{{object.slug}}/delete_job">
			      {% csrf_token %}
			      <input type="hidden" name="order_slug" value="{{ object.slug }}">
			      {% if perms.order.can_delete_job %}
			      	<input type="submit" value="Delete all Jobs">
			      {% else %}
			      	<input type="submit" value="Delete all Jobs" disabled>
			      	<span class="notice">* To Delete/Cancel Job , you must have authorize.</span>
			      {% endif %}

			    </form>
			    {% endif %}
	    	</div>
	    	
	    </section>


	</div> <!-- End Wrapper -->

   
    
   
{% endblock %}


{% block stylesheet %}
{% endblock stylesheet %}